*
!*.yaml
!scenes
!.gitignore
!appdaemon
!www
!gitupdate.sh

.cloud
.storage

secrets.yaml
known_devices.yaml
sabnzbd.conf
plex.conf
harmony_great_room.conf
zones.yaml
appdaemon.yaml
